.menu-wrap {
    position: relative;
}

.menu-wrap input{
    position: absolute;
    top: -10%;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: -10%;
    right: 0;
    background-color: #ff1e00;
    height: 50px;
    width: 50px;
    border-radius: 5%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Linha do Hamburguer */
.menu-wrap .hamburger > div {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.4s ease;
}

/* Linhas do Hambuerguer - Cima e Baixo */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Alterados de Animação */
.menu-wrap input:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Transformar as linhas em X */
.menu-wrap input:checked + .hamburger > div::before,
.menu-wrap input:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotaciona quando faz o hover, quando o input está marcado */
.menu-wrap input:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Mostrar Menu */
.menu-wrap input:checked ~ .menu {
    visibility: visible;
}

.menu-wrap input:checked ~ .menu > div {
    transform: scale(1);
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Inserir o Overlay - Quando clicamos no menu */
.menu-wrap .menu > div {
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 50%;
    width: 300vw;
    height: 300vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div ul {
    display: flex;
    flex-direction: column;
}

.menu-wrap .menu > div ul li {
    padding: 1rem;
}